html {
  background-color: rgba(58, 62, 65, 0.952);
}
.App {
  background-color: rgba(80, 84, 87, 0.65);
}
.moviesHeader {
  margin-left: 25px;
  font-weight: bolder;
  font-variant-caps: all-small-caps;
  font-size: 3rem;
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  text-align: left;
}

.title {
  text-align: center;
  font-size: 2rem !important;
}

.rate {
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
  color: rgb(8, 158, 158);
}

.modalstyle {
  display: flex;
  text-align: left;
  background-color: rgba(134, 132, 131, 0.329);
}

label {
  margin-left: 15px;
  display: flex;
  margin-top: 5px;
  margin-right: 15px;
}
.firstSub {
  margin-left: 25px;
}
.addMovieBtn {
  background-color: tomato !important;
}
.btnContainer {
  display: flex;
  justify-content: center;
}
.modal-footer {
  margin-right: 8.5rem;
}
.modal-header {
  display: flex;
  background-color: rgba(134, 132, 131, 0.466);
}
.modal-title {
  display: flex;
  text-align: center;
  margin-left: 8.5rem;
}
.addingMovie {
  background-color: tomato !important;
}
